.title {
  font-family: "open-sans", "Helvetica Neue", Helvetica, Calibri, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #0D47A1;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 20px;
}
.focused {
  color: #0D47A1;
}

.content {
  margin-left:10% ;
}