<p-multiSelect [options]="SelectedTableData.availableColumns" [(ngModel)]="SelectedTableData.tableColumns"
    [showToggleAll]=false></p-multiSelect>

                <div class="row align-items-center">
                    <div class="primeng-datatable-container"
    [busyIf]="primengTableHelper.isLoading">
<p-table #dt *ngIf="IsDataAvailable == true && SelectedTableData" 
    [value]="SelectedTableData.data" 
    [rowHover]="true"
    [rows]="10" 
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50,75,100]" 
    [loading]="loading" 
    [paginator]="true" 
    [filterDelay]="1000"
    (onFilter)="onFilter($event)" 
    selectionMode="{{TableType === 'node' ? 'multiple' : null}}"
    [(selection)]="SelectedTableData.dataSelection" 
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)" 
    [scrollable]="true" 
    ScrollWidth="100%"
    [resizableColumns]="true" 
    columnResizeMode="expand"
    [columns]="SelectedTableData.tableColumns">
    <!-- [responsive]="true"  -->
    <!-- [autoLayout]="true" 
    styleClass="ui-table-responsive"  -->
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of SelectedTableData.tableColumns">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr [pSelectableRow]="datarow">
            <th style="width: 150px" pSortableColumn="{{col.field}}" *ngFor="let col of SelectedTableData.tableColumns">
                {{col.header}}<p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th style="width: 150px"  *ngFor="let col of SelectedTableData.tableColumns">
                <div class="wrapper">
                    <select class="filterType" [(ngModel)]="col.filterType" (change)="onTableFilter(col)">
                        <option *ngFor="let filterType of filterTypes" [ngValue]="filterType.value">{{filterType.label}}
                        </option>
                    </select>
                    <input class="item" pInputText type="text" (input)="onTableFilter(col)"
                        [(ngModel)]="col.filterValue" class="p-column-filter" style="width:100%;">
                </div>
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-datarow>
        <tr class="ui-selectable-row" [pSelectableRow]="datarow">
            <td style="width: 150px"  *ngFor="let col of SelectedTableData.tableColumns">
                {{datarow[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
    </div>
</div>

<div class="m-content" *ngIf="IsDataAvailable == false">
    <div id="file-panel" class="container-fluid" style="height:500px;">
        <div id="file-prompt" class="d-flex justify-content-center">
            <h1><b>Please add data files to load...</b></h1>
            <br />
        </div>
    </div>
</div>


<p-dialog id="table-settings-pane" [(visible)]="ShowTableSettingsPane" header="Table Settings"
    [style]="{width: '25vw', height:'300px'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <tabset class="tab-container tabbable-line" style='width: 100%;'>
                    <tab heading="{{'Table' | localize}}" [active]="true" customClass="m-tabs__item">
                        <div class="tab-pane fade show active" id="table-node-settings" role="tabpanel"
                            aria-labelledby="nodes-tab">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="table-tab">
                                    <div class="form-group row"
                                        title="What size would you like the Table's font to be?">
                                        <div class="col-4"><label for="table-font-size">Text Size</label></div>
                                        <div class="col-8"><input type="range" class="custom-range" id="table-font-size"
                                                min="6" value="14" max="72" step="1"
                                                [(ngModel)]="SelectedTextSizeVariable"
                                                (ngModelChange)="onDataChange($event)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</p-dialog>


<p-dialog id="network-export-modal" [(visible)]="ShowTableExportPane" header="Export Table"
    [style]="{width: '30vw', height:'150px'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style='width: 400px; height: 100%;'>
                <div class="form-group row">
                    <div class="col-9">
                        <input type="text" id="network-export-filename" class="form-control form-control-sm"
                            placeholder="Filename" [(ngModel)]="SelectedNetworkExportFilenameVariable">
                    </div>
                    <div class="col-3">
                        <p-dropdown id="network-export-filetype" [options]="NetworkExportFileTypeList"
                            [(ngModel)]="SelectedNetworkExportFileTypeListVariable" appendTo="body"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error"
                    (click)="ShowTableExportPane = !ShowTableExportPane">Cancel</button>
                <button type="button" id="network-export" class="btn btn-primary"
                    (click)="exportVisualization($event)">Export</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</p-dialog><!-- /.modal -->