
<div id="histogram" [ngStyle]="svgStyle"></div>

<div class="m-content" *ngIf="IsDataAvailable == false">
    <div id="file-panel" class="container-fluid" style="height:500px;">
        <div id="file-prompt" class="d-flex justify-content-center">
            <h1><b>Please add data files to load...</b></h1>
            <br />
        </div>
    </div>
</div>



<p-dialog id="histogram-settings-pane" 
[positionLeft]="HistogramSettingsExportDialogSettings.left" 
[positionTop]="HistogramSettingsExportDialogSettings.top" 
[(visible)]="HistogramSettingsExportDialogSettings.isVisible"  

[(visible)]="ShowHistogramSettingsPane" header="Histogram" [style]="{width: '25vw'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <tabset class="tab-container tabbable-line" style='width: 100%; height: 100%'>
                    <tab heading="{{'Variable' | localize}}" [active]="true" customClass="m-tabs__item">
                        <div class="tab-pane fade show active" id="histogram-settings" role="tabpanel" aria-labelledby="histogram-tab">
                            <div class="form-group row" title="Which variable should the histogram be drawn from?">
                                <div class="col-3"><label for="histogram-variable">Variable</label></div>
                                <div class="col-9">
                                    <p-dropdown id="histogram-variable" [options]="HistogramMixedVariablesVariableFieldList" [(ngModel)]="SelectedHistogramMixedVariableVariable" (ngModelChange)="onVariableChange()" appendTo="body"></p-dropdown>                                   
                                </div>
                            </div>
                            <div class="form-group row" title="Which axis should the histogram be drawn across?">
                                <div class="col-3">Axis</div>
                                <div class="col-9">
                                    <p-selectButton [options]="AxisTypes" [(ngModel)]="SelectedAxisTypeVariable" (ngModelChange)="onAxisChange()"></p-selectButton>                                    
                                </div>
                            </div>
                            <div class="form-group row" title="Should the y-axis show a linear or logarithmic scale?">
                                <div class="col-3">Scale</div>
                                <div class="col-9">
                                    <p-selectButton [options]="ScaleTypes" [(ngModel)]="SelectedScaleTypeVariable" (ngModelChange)="onScaleChange()"></p-selectButton>                                  
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</p-dialog>



<p-dialog id="network-export-modal" [(visible)]="ShowHistogramExportPane" header="Export Histogram Image" (onHide)="onCloseExport()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-body" style='min-width: 400px; height: 100%;'>
                <div class="form-group row">
                    <div class="col-9">
                        <input type="text" id="network-export-filename" class="form-control form-control-sm" placeholder="Filename" [(ngModel)]="SelectedNetworkExportFilenameVariable">
                    </div>
                    <div class="col-3">
                        <p-dropdown id="network-export-filetype" [options]="NetworkExportFileTypeList" [(ngModel)]="SelectedNetworkExportFileTypeListVariable" appendTo="body"></p-dropdown>
                    </div>
                </div>
                <div>


                    <p-accordion>
                        <p-accordionTab style="color:#495057" header="Advanced">
                            <div id="network-export-advanced">

                                <div class="form-group row">
                                    <div class="col-3">
                                        <label for="network-export-scale">Scale</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="number" id="network-export-scale" class="form-control form-control-sm" min="0" step="0.1" value="1" [(ngModel)]="SelectedNetworkExportScaleVariable" (ngModelChange)="updateCalculatedResolution($event)">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">Resolution</div>
                                    <div id="network-export-dimensions" class="col-9 text-right">{{CalculatedResolution}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="network-export-quality">Quality</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="custom-range" id="network-export-quality" min="0" max="1.0" value="0.92" step="0.01" [(ngModel)]="SelectedNetworkExportQualityVariable">
                                    </div>
                                </div>

                            </div>
                        </p-accordionTab>
                    </p-accordion>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error" (click)="ShowHistogramExportPane = !ShowHistogramExportPane">Cancel</button>
                <button type="button" id="network-export" class="btn btn-primary" (click)="exportVisualization($event)">Export</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</p-dialog><!-- /.modal -->
