<div class="container size">
    <p class="title">Search for Existing Record</p>

    <form #searchForm='ngForm'>

        <div class="row" style="padding-left:5%;">
            <div class="col-sm-3 center"></div>

                <div class="col-sm-4 center">
                    <mat-form-field class="full-width">
                        <mat-label>Search By</mat-label>
                        <mat-select required #seachCriteria='ngModel' name='seachCriteria' [(ngModel)]="SearchValue.SearchCriteria" (selectionChange)="Update()">
                            <mat-option *ngFor="let criteria of staticData.SearchCriteria" [value]="criteria.Value">
                                {{criteria.Description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="seachCriteria?.invalid && (seachCriteria.dirty || seachCriteria.touched)">
                            <div *ngIf="seachCriteria.errors.required">
                                Please select a search criteria.
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        <div class="row" style="padding-left:5%;">
            <div class="col-sm-2 center"></div>

            <div class="col-sm-3 form-full-width center">
                <mat-form-field class="full-width">
                    <mat-label>CDC 2019-nCoV ID</mat-label>
                 
                    <!--   <input matInput required #nCoV='ngModel' name='nCoV' [(ngModel)]="SearchValue.Value1" [ngClass]="SearchValue.Value1? 'focused' : ''" (input)="ToUpper()" (change)="Update()" />
-->
                        <input matInput required #nCoV='ngModel' name='nCoV' [pattern]="regex.CoVId" [(ngModel)]="SearchValue.Value1" [ngClass]="SearchValue.Value1? 'focused' : ''" (input)="ToUpper()" (change)="Update()" />
    
                    <mat-error *ngIf="nCoV?.invalid">
                        <div *ngIf="nCoV.errors.required">
                            CDC 2019-nCoV ID is required.
                        </div>
                        <div *ngIf="nCoV.value&& nCoV?.invalid">
                            CDC 2019-nCoV ID needs to be in the format of AA123456.
                        </div>
                    </mat-error>
                </mat-form-field>

            </div>
            <div class="col-sm-3 form-full-width">
                <mat-form-field class="full-width">
                    <mat-label>Last name</mat-label>
                    <!-- <input matInput [(ngModel)]="Section1.PatientInformation.Lastname" [ngClass]="Section1.PatientInformation.Lastname? 'focused' : ''" (change)="UpdateData()"> -->
                    <input matInput required #lastName='ngModel' name='lastName' [pattern]='regex.AlphaWithCharacter' [(ngModel)]="SearchValue.Value2" [ngClass]="SearchValue.Value2? 'focused' : ''" (input)="ToUpper()" (change)="Update()">

                    <mat-error *ngIf="lastName?.invalid">
                        <div *ngIf="lastName.errors.required">
                            Last name is required.
                        </div>
                        <div *ngIf="lastName.value&& lastName?.invalid">
                            Last name only allows letters, ', -, and spaces.
                        </div>
                    </mat-error>
                </mat-form-field>

            </div>
        </div>

</form>
    <div class="btn-center" *ngIf="!IsSameParam">
        <button *ngIf="!isLoading" mat-flat-button color="primary" (click)="Search()" [disabled]="searchForm.invalid">Search</button>
        <app-loader *ngIf="isLoading"></app-loader>

    </div>
    <div class="search-result" [hidden]="!ShowResult || !IsSameParam">

        <div>
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef> Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
                </ng-container>


                <ng-container matColumnDef="nCoVID">
                    <th mat-header-cell *matHeaderCellDef> 2019-nCoV ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.nCoVID}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef> Year of Birth </th>
                    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                </ng-container>

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> View / Modify Record</th>
                    <td mat-cell *matCellDef="let element">
                        <a class="modify" (click)="Modify(element.index)">View / Modify</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <div class="clear">
            <button class="pull-right" style="margin: 10px" mat-flat-button color="primary" (click)="Reload()">Refresh</button>

            <button class="pull-right" style="margin: 10px" mat-stroked-button color="warn" (click)="Clear()">Clear</button>


        </div>
    </div>


</div>