<div class="m-content">

    <div id="file-panel" class="container-fluid" style="min-height:500px;">
        <div id="file-table" class="container">
        </div>
        <div id="file-prompt" *ngIf="this.commonService?.session?.files != undefined && this.commonService.session.files.length === 0" class="d-flex justify-content-center">
            <h1><b>Please add data files to load...</b></h1>
        </div>
    </div>

    



    <div class="view-controls">
        <p-dialog id="file-settings-pane" [(visible)]="displayFileSettings" header="File Settings">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <tabset class="tab-container tabbable-line" style='width: 100%;'>
                            <tab heading="{{'Files' | localize}}" [active]="true" customClass="m-tabs__item">
                                <div id="file-settings" class="tab-pane fade active show" role="tabpanel">
                                    <div class="form-group row">
                                        <div class="col-5">
                                            <label style="padding-left: 10px;" for="default-distance-metric" class="mr-2" title="Which Genetic Distance Metric should Microbe use to first construct the network?">
                                                {{"Distance Metric" | localize}}
                                            </label>
                                        </div>
                                        <div class="col-7">
                                            <select id="default-distance-metric" class="form-control form-control-sm mr-5" [(ngModel)]="SelectedDefaultDistanceMetricVariable">
                                                <option value="tn93" selected>TN93</option>
                                                <option value="snps">SNPs</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="ambiguities-row" class="form-group row">
                                        <div class="col-5">
                                            <label style="padding-left: 10px;" for="ambiguity-resolution-strategy" class="mr-2" title="What Strategy should MicrobeTrace use to handle ambiguities?">
                                                {{"Ambiguities" | localize}}
                                            </label>
                                        </div>
                                        <div class="col-7">
                                            <select id="ambiguity-resolution-strategy" class="form-control form-control-sm mr-5" [(ngModel)]="SelectedAmbiguityResolutionStrategyVariable">
                                                <option value="AVERAGE">Average</option>
                                                <option value="RESOLVE">Resolve</option>
                                                <option value="SKIP">Skip</option>
                                                <option value="GAPMM">GapMM</option>
                                                <option value="HIVTRACE-G">HIV-TRACE -g</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="ambiguity-threshold-row" class="form-group row">
                                        <div class="col-5">
                                            <label style="padding-left: 10px;" for="ambiguity-threshold" class="mr-2" title="What's the maximum genetic distance you wish to consider linked? Please note that this can be changed later.">
                                                {{"Ambiguity Threshold" | localize}}
                                            </label>
                                        </div>
                                        <div class="col-7">
                                            <input type="number" id="ambiguity-threshold" class="form-control form-control-sm" min="0" value="0.015" step="0.001" [(ngModel)]="SelectedAmbiguityThresholdVariable">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-5">
                                            <label style="padding-left: 10px;" for="default-distance-threshold" class="mr-2" title="What's the maximum genetic distance you wish to consider linked? Please note that this can be changed later.">
                                                {{"Link Threshold" | localize}}
                                            </label>
                                        </div>
                                        <div class="col-7">
                                            <input type="number" id="default-distance-threshold" class="form-control form-control-sm" min="0" value="0.015" step="0.001" [(ngModel)]="SelectedDefaultDistanceThresholdVariable">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-5">
                                            <label style="padding-left: 10px;" for="default-view">{{"View to Launch" | localize}}</label>
                                        </div>
                                        <div class="col-7">
                                            <select id="default-view" class="form-control form-control-sm" (change)="changeDefaultView($event)" title="Which view should MicrobeTrace render first, once it has successfully processed the data?" [(ngModel)]="SelectedDefaultViewVariable">
                                                <option value="2D Network" selected>2D Network</option>
                                                <option value="3D Network">3D Network</option>
                                                <option value="Bubbles">Bubbles</option>
                                                <option value="Table">Table</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{'Experimental' | localize}}" customClass="m-tabs__item">
                                <div id="experimental-settings" class="tab-pane fade active show" role="tabpanel">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <div class="alert alert-warning alert-dismissible" role="alert">
                                                <p>The following settings are experimental! Use at your own risk!</p>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" title="Would you like to generate a network based on random data?">
                                        <div class="col-4">
                                            <label style="padding-left: 10px;" class="mr-2">{{"Generate" | localize}}</label>
                                        </div>
                                        <div class="col">
                                            <input id="generate-number" type="number" class="form-control form-control-sm" min="1" max="2000" step="1" value="100" [(ngModel)]="SelectedGenerateNumberVariable">
                                        </div>
                                        <div class="col">
                                            <button id="generate-sequences" class="btn btn-light btn-sm col">Sequences</button>
                                        </div>
                                    </div>
                                    <div class="form-group row" title="Would you like to attempt to infer the direction of your links?">
                                        <div class="col-4">
                                            <label style="padding-left: 10px;" class="mr-2">{{"Directionality" | localize}}</label>
                                        </div>
                                        <div class="col-8">
                                            <p-selectButton [options]="DirectionalityTypes" [(ngModel)]="SelectedDirectionalityTypeVariable"></p-selectButton>                                           
                                        </div>
                                    </div>
                                    <div class="form-group row" title="Would you like to attempt to triangulate missing values in your distance matrices?">
                                        <div class="col-4">
                                            <label style="padding-left: 10px;" class="mr-2">{{"Triangulation" | localize}}</label>
                                        </div>
                                        <div class="col-8">
                                            <p-selectButton [options]="TriangulationTypes" [(ngModel)]="SelectedTriangulationTypeVariable"></p-selectButton>                                            
                                        </div>
                                    </div>
                                    <div class="form-group row"
                                         title="Should MicrobeTrace automatically stash your session so if your computer crashes you can recover your session?
                                Please note that this causes MicrobeTrace to store data on your computer's hard drive, which may have implications for PII.">
                                        <div class="col-4">
                                            <label style="padding-left: 10px;" class="mr-2">{{"Autostashing" | localize}}</label>
                                        </div>
                                        <div class="col-8">
                                            <p-selectButton [options]="AutostashingTypes" [(ngModel)]="SelectedAutostashingTypeVariable"></p-selectButton>                                          
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </p-dialog>




        <p-dialog id="sequence-controls-modal" [(visible)]="displaySequenceSettings" header="Sequence Settings">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <tabset class="tab-container tabbable-line" style='width: 100%;'>
                            <tab heading="{{'Alignment' | localize}}" [active]="true" customClass="m-tabs__item">
                                <div id="sequence-alignment" class="tab-pane fade show active" role="tabpanel">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <div class="alert alert-warning alert-dismissible" role="alert">
                                                <p>
                                                    <span>{{"Micro-Tracing " | localize}}</span>
                                                    <span>{{"Next" | localize}}</span>
                                                    <span><sup>&reg;</sup></span>
                                                    is not intended to be an alignment program (although it can be used in that way).
                                                    For best results, please align your sequences using
                                                    <a href="https://en.wikipedia.org/wiki/List_of_sequence_alignment_software" target="_blank" rel="noreferrer noopener">an external tool</a>
                                                    before loading them into MicrobeTrace.
                                                    <a href="https://github.com/CDCgov/MicrobeTrace/wiki/Alignment" class="ifOnline" target="_blank" rel="noreferrer noopener">Click here for additional information.</a>
                                                </p>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-2" title="Should MicrobeTrace align your sequences?">Align</div>
                                        <div class="col-10">
                                            <p-selectButton [options]="AlignTypes" [(ngModel)]="SelectedAlignTypeVariable" (onChange)="IsReferenceSourceSelected=(SelectedAlignTypeVariable=='None' ? false : true)"></p-selectButton>
                                        </div>
                                    </div>

                                    <p-accordion *ngIf="IsReferenceSourceSelected == true">
                                        <p-accordionTab style="color:#495057" header="Reference Source Options" [(selected)]="IsReferenceSourceSelected">

                                            <div class="form-group row alignConfigRow">
                                                <div class="col-2" title="What should MicrobeTrace use as a reference to align your sequences?">Reference Source</div>
                                                <div class="col-10">
                                                    <p-selectButton [options]="ReferenceTypes" [(ngModel)]="SelectedReferenceTypeVariable" (onChange)="IsReferenceOptionsSelected=(SelectedReferenceTypeVariable=='LoadFrom FASTA' ? true : false)"></p-selectButton>
                                                </div>
                                            </div>

                                            <p-accordionTab style="color:#495057" header="Reference Options" *ngIf="IsReferenceOptionsSelected == true" [(selected)]="IsReferenceOptionsSelected">
                                                <div class="form-group row" id="reference-file-row">
                                                    <div class="col-2" title="Against what sequence should MicrobeTrace align your sequences?">Reference</div>
                                                    <div class="col-5">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="refSeqFileLoad" [(ngModel)]="SelectedRefSeqFileLoadVariable">
                                                            <label class="custom-file-label" for="refSeqFileLoad" style="overflow:hidden">HXB2</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-5">
                                                        <p-dropdown id="refSeqID" [options]="RefSeqIDTypes" [(ngModel)]="SelectedRefSeqIDVariable"></p-dropdown>

                                                       
                                                    </div>
                                                </div>
                                            </p-accordionTab>

                                                    <div class="row alignConfigRow">
                                                        <div class="form-group col offset-2" title="How much should MicrobeTrace reward matching bases?">
                                                            <label for="alignerMatch">Match Reward</label>
                                                            <input type="number" id="alignerMatch" class="form-control" value="1" min="0" [(ngModel)]="SelectedAlignerMatchVariable">
                                                        </div>
                                                        <div class="form-group col" title="How much should MicrobeTrace penalize non-matching bases?">
                                                            <label for="alignerMismatch">Mismatch Cost</label>
                                                            <input type="number" id="alignerMismatch" class="form-control" value="1" min="0" [(ngModel)]="SelectedAlignerMismatchVariable">
                                                        </div>
                                                    </div>
                                                    <div class="row alignConfigRow">
                                                        <div class="form-group col offset-2" title="How much should MicrobeTrace Penalize opening a gap?">
                                                            <label for="alignerGapO">Gap Opening Cost</label>
                                                            <input type="number" id="alignerGapO" class="form-control" value="5" min="0" [(ngModel)]="SelectedAlignerGapOVariable">
                                                        </div>
                                                        <div class="form-group col" title="How much should MicrobeTrace Penalize extending a gap?">
                                                            <label for="alignerGapE">Gap Extension Cost</label>
                                                            <input type="number" id="alignerGapE" class="form-control" value="2" min="0" [(ngModel)]="SelectedAlignerGapEVariable">
                                                        </div>
                                                    </div>
                                        </p-accordionTab>
                                    </p-accordion>



                                    <div class="row alignPreviewRow">
                                        <div class="w-100 text-center" id="alignment-preview"></div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{'Audit' | localize}}" [active]="true" customClass="m-tabs__item">
                                <div id="sequence-auditor" class="tab-pane fade show" role="tabpanel">
                                    <div class="row mb-3" style="padding-left:15px;">
                                        <div class="form-check col" title="Checks to see if a Sequence is empty.">
                                            <input class="form-check-input" style="padding-left:5px;" type="checkbox" id="audit-empty" checked [(ngModel)]="SelectedAuditEmptyVariable">
                                            <label class="form-check-label" style="padding-left:5px;" for="audit-empty">
                                                Empty
                                            </label>
                                        </div>
                                        <div class="form-check col" title="Checks to see if a Sequence is all gaps.">
                                            <input class="form-check-input" type="checkbox" id="audit-gaps" checked [(ngModel)]="SelectedAuditGapsVariable">
                                            <label class="form-check-label" style="padding-left:5px;" for="audit-gaps">
                                                Gaps
                                            </label>
                                        </div>
                                        <div class="form-check col" title="Check to see if sequence contains any characters that are RNA instead of DNA.">
                                            <input class="form-check-input" type="checkbox" id="audit-RNA" checked [(ngModel)]="SelectedAuditRNAVariable">
                                            <label class="form-check-label" style="padding-left:5px;" for="audit-RNA">
                                                RNA
                                            </label>
                                        </div>
                                        <div class="form-check col" title="Check to see if Sequence contains any characters that represent Amino Acids.">
                                            <input class="form-check-input" type="checkbox" id="audit-amino-acids" checked [(ngModel)]="SelectedAuditAminoAcidsVariable">
                                            <label class="form-check-label" style="padding-left:5px;" for="audit-amino-acids">
                                                Amino Acids
                                            </label>
                                        </div>
                                        <div class="form-check col" title="Check to see if Sequence contains any characters describing an alignment.">
                                            <input class="form-check-input" type="checkbox" id="audit-CIGAR" checked [(ngModel)]="SelectedAuditCIGARVariable">
                                            <label class="form-check-label" style="padding-left:5px;" for="audit-CIGAR">
                                                CIGAR
                                            </label>
                                        </div>
                                        <div class="form-check col" title="Check to see if Sequence contains any characters that are illegal in any genomic or proteomic alphabet.">
                                            <input class="form-check-input" type="checkbox" id="audit-malformed" checked [(ngModel)]="SelectedAuditMalformedVariable">
                                            <label class="form-check-label" style="padding-left:5px;" for="audit-malformed">
                                                Malformed
                                            </label>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary btn-sm w-100" id="audit-launcher" (click)="run()">Run</button>
                                        </div>
                                    </div>
                                    <div class="row" id="audited-sequences"></div>
                                    <div class="row flex-row-reverse" style="padding-right: 21px">
                                        <button class="btn btn-danger btn-sm" id="audit-toggle-all" (click)="toglleAll()">Toggle All</button>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                    <div class="modal-footer clearfix">
                        <button type="submit" class="btn btn-success pull-right" data-dismiss="modal"
                                title="Confirm Load Settings are All Properly Set" (click)="displaySequenceSettings = !displaySequenceSettings">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </p-dialog>

    </div><!-- Files Settings & Sequence Settings/.modal -->


    <div class="view-controls">
        <p-dialog id="loading-information-modal" [(visible)]="displayloadingInformationModal" header="Processing Files...">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                   

                        <img class="img-responsive" [src]="appRootUrl() + 'assets/common/images/giphy.gif'" alt="logo" height="300" />

                        <div id="loading-information-collapse" class="collapse show">
                            <div id="loading-information" class="card card-body">

                                <a *ngFor="let message of messages">
                                    {{ message }}
                                </a>
                                <br>

                            </div>
                        </div>
                    
                    <p-footer>
                        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="displayloadingInformationModal=false">Close</button>
                    </p-footer>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </p-dialog>
    </div><!-- Loading Files/.modal -->


    <div id="file-footer">
        <p-accordion>
            <p-accordionTab *ngIf="uniqueNodes.length > 0" header="{{uniqueNodes.length}} node(s) missing in edge list">
                <table>
                    <tr>
                        <th>Node</th>
                    </tr>
                    <tr *ngFor="let node of uniqueNodes">
                        <td>
                            {{node}}
                        </td>
                    </tr>
                </table>
            </p-accordionTab>
            <p-accordionTab *ngIf="uniqueEdgeNodes.length > 0" header="{{uniqueEdgeNodes.length}} edge node(s) missing in node list">
                <table>
                    <tr>
                        <th>Node</th>
                    </tr>
                    <tr *ngFor="let node of uniqueEdgeNodes">
                        <td>
                            {{node}}
                        </td>
                    </tr>
                </table>
            </p-accordionTab>

        </p-accordion>

        <br/>

        <div class="m-portlet" style="padding: 1px">
            <div class="d-flex justify-content-center">
                <span>
                    <input type="file" id="data-files1" class="d-none" multiple="true" onclick="this.value=null;" (change)="processFiles($event.target.files)">
                    <label for="data-files1" class="btn btn-primary btn-nr floater mb-0">Add File(s)</label>
                </span>
                <span>
                    <button type="button" class="btn btn-default btn-nr floater" (click)="showSequenceSettings()">Sequence Controls</button>
                </span>
                <span>
                    <button id="launch" class="btn btn-success" (click)="launchClick()" title="Please select a Network CSV or FASTA File" disabled>Launch</button>
                </span>
            </div>
        </div>
    </div>


</div>
