<div class="container mct-tabs">
    <div class="row">
        <ul class="nav nav-tabs">
            <li routerLink="/form/section1" routerLinkActive="active current" class="tab-link"><a data-toggle="tab">Section 1</a></li>
            <li routerLink="/form/section2" routerLinkActive="active current" class="tab-link"><a data-toggle="tab">Section 2</a></li>
            <li routerLink="/form/section3" routerLinkActive="active current" class="tab-link"><a data-toggle="tab">Section 3</a></li>
            <li routerLink="/form/section4" routerLinkActive="active current" class="tab-link"><a data-toggle="tab">Section 4</a></li>
            <li routerLink="/form/section5" routerLinkActive="active current" class="tab-link"><a data-toggle="tab">Section 5</a></li>
            <li routerLink="/form/section6" routerLinkActive="active current" class="tab-link"><a data-toggle="tab">Section 6</a></li>
            <li routerLink="/form/section7" routerLinkActive="active current" class="tab-link"><a data-toggle="tab">Section 7</a></li>
            <li routerLink="/form/section8" routerLinkActive="active current" class="tab-link"><a data-toggle="tab">Section 8</a></li>


        </ul>
    </div>
    <div id="tab-1" class="tab-content current size">
        <router-outlet></router-outlet>
    </div>
 
</div>