<!--<div id="map" [ngStyle]="svgStyle"></div>-->
<!--<p-gmap #gmap [options]="options" [overlays]="overlays"  [style]="{'width':'100%','height':'600px'}" (onMapReady)="setMap($event)"></p-gmap>-->

<ng-container *ngIf="SelectedGeospatialTypeVariable === 'On'">
    <br/>
    <!-- <h4>Range <p-calendar [(ngModel)]="dateFilterRangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar></h4> -->
    <h4>Range: {{dateFilterRangeDates[0] | date: 'shortDate'}} - {{dateFilterRangeDates[1] | date: 'shortDate'}}</h4>
    <!-- <h4>Range: {{dateFilterRangeValues[0] + ' - ' + dateFilterRangeValues[1]}}</h4> -->
    <p-slider [(ngModel)]="dateFilterRangeValues" [style]="{'width':'100%'}" [range]="true" [min]="0" [max]="dateFilterRangeMax" (onSlideEnd)="onDateFilterChange($event)"></p-slider>
</ng-container>

<br/>

<div #mapContainer>
    <!-- <div #gmap style="width:100%;height:600px"></div> -->
    <ng-container *ngIf="leafletInitialOptions">
        <div class="mapStyle" leaflet [leafletOptions]="leafletInitialOptions" (leafletMapReady)="onMapReady($event)"
            [leafletMarkerCluster]="leafletMarkers" [leafletMarkerClusterOptions]="leafletMarkerClusterOptions"
            (leafletMarkerClusterReady)="onMarkerClusterReady($event)">
        </div>
    </ng-container>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 *ngIf="isExporting && commonService.session.style.widgets['node-color-variable'] != 'None'"
            class="bottom-table">
            Node Colors
        </h2>
        <table id="node-color-table-bottom-map" class="bottom-table"></table>
    </div>
    <div class="col-md-4">
        <h2 *ngIf="isExporting && commonService.session.style.widgets['link-color-variable'] != 'None'"
            class="bottom-table">
            Link Colors
        </h2>
        <table id="link-color-table-bottom-map" class="bottom-table"></table>
    </div>
</div>

<div class="m-content" *ngIf="IsDataAvailable == false">
    <div id="file-panel" class="container-fluid" style="height:500px;">
        <div id="file-prompt" class="d-flex justify-content-center">
            <h1><b>Please add data files to load...</b></h1>
            <br />
        </div>
    </div>
</div>


<p-dialog id="map-settings-pane" [positionLeft]="NodeMapSettingsExportDialogSettings.left"
    [positionTop]="NodeMapSettingsExportDialogSettings.top" [(visible)]="NodeMapSettingsExportDialogSettings.isVisible"
    header="Geospatial Settings" [contentStyle]="{'max-height': '70vh'}">
    <tabset class="tab-container tabbable-line">
        <tab heading="{{'Data' | localize}}" customClass="m-tabs__item">
            <div class="form-group row">
                <div class="col-4">Geospatial</div>
                <div class="col-8">
                    <p-selectButton [options]="GeospatialTypes" [(ngModel)]="SelectedGeospatialTypeVariable"
                        (ngModelChange)="onGeospatialTypeChange($event)"></p-selectButton>
                </div>
            </div>

            <ng-container *ngIf="SelectedGeospatialTypeVariable === 'Off'">

                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info alert-dismissible" role="alert">
                            Please select the most precise geographic data your inputs have.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row" title="If your data have a latitude variable, select that here.">
                    <div class="col-4">
                        <a>Latitude</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-lat" [options]="FieldList" [(ngModel)]="SelectedLatitude"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>
                <div class="form-group row" title="If your data have a longitude variable, select that here.">
                    <div class="col-4">
                        <a>Longitude</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-lon" [options]="FieldList" [(ngModel)]="SelectedLongitude"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>
                <div class="form-group row" title="If your data have a Census Tract variable, select that here.">
                    <div class="col-4">
                        <a>Census Tract</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-tract" [options]="FieldList" [(ngModel)]="SelectedCensusTract"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>
                <div class="form-group row" title="If your data have a zipcode variable, select that here.">
                    <div class="col-4">
                        <a>Zipcode</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-zipcode" [options]="FieldList" [(ngModel)]="SelectedZipCode"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>
                <div class="form-group row" title="If your data have a County variable, select that here.">
                    <div class="col-4">
                        <a>County</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-county" [options]="FieldList" [(ngModel)]="SelectedCounty"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>
                <div class="form-group row" title="If your data have a (US) State variable, select that here.">
                    <div class="col-4">
                        <a>State</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-state" [options]="FieldList" [(ngModel)]="SelectedState"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>
                <div class="form-group row" title="If your data have a Country variable, select that here.">
                    <div class="col-4">
                        <a>Country</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-country" [options]="FieldList" [(ngModel)]="SelectedCountry"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="SelectedGeospatialTypeVariable === 'On'">
                <p>&#11044;  -  Residence Address</p>
                <p>&#9650;  -  Venue Address</p>
                <p>&#9632;  -  Exposure Address</p>
                <!-- <div class="form-group row" title="If your data have a Residence Address variable, select that here.">
                    <div class="col-4">
                        <a>Residence Address &#11044;</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-country" [options]="FieldList" [(ngModel)]="SelectedResidenceAddress"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div> 

                <div class="form-group row" title="If your data have a Venue Address variable, select that here.">
                    <div class="col-4">
                        <a>Venue Address &#9650;</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-country" [options]="FieldList" [(ngModel)]="SelectedVenueAddress"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>

                <div class="form-group row" title="If your data have a Exposure Address variable, select that here.">
                    <div class="col-4">
                        <a>Exposure Address &#9632;</a>
                    </div>
                    <div class="col-8">
                        <p-dropdown id="map-field-country" [options]="FieldList" [(ngModel)]="SelectedExposureAddress"
                            (ngModelChange)="onDataChange($event)" appendTo="body"></p-dropdown>
                    </div>
                </div>-->
            </ng-container>

        </tab>
        <tab heading="{{'Components' | localize}}" customClass="m-tabs__item">

            <p-accordion>
                <p-accordionTab style="color:#495057" header="Network">
                    <div class="form-group row" title="Would you like to see Nodes on the map?">
                        <div class="col-4">Nodes</div>
                        <div class="col-8">
                            <p-selectButton [options]="NodesTypes" id="map-node-show-hide"
                                [(ngModel)]="SelectedNodesTypeVariable"
                                (ngModelChange)="onMapNodeShowHideChange($event)"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row" title="Would you like to see links on the map?">
                        <div class="col-4">Links</div>
                        <div class="col-8">
                            <p-selectButton [options]="LinksTypes" id="map-link-show-hide"
                                [(ngModel)]="SelectedLinksTypeVariable"
                                (ngModelChange)="onMapLinksShowHideChange($event)"></p-selectButton>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab style="color:#495057" header="Offline">
                    <div class="form-group row" title="Would you like to see Countries on the map?">
                        <div class="col-4">Countries</div>
                        <div class="col-8">
                            <p-selectButton [options]="CountriesTypes" id="map-countries-show-hide"
                                [(ngModel)]="SelectedCountriesTypeVariable"
                                (ngModelChange)="onCountriesShowHidChange($event)"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row" title="Would you like to see (US) States on the map?">
                        <div class="col-4">States</div>
                        <div class="col-8">
                            <p-selectButton [options]="StatesTypes" id="map-states-show-hide"
                                [(ngModel)]="SelectedStatesTypeVariable"
                                (ngModelChange)="onStatesShowHideChange($event)"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row" title="Would you like to see (US) Counties on the map?">
                        <div class="col-4">Counties</div>
                        <div class="col-8">
                            <p-selectButton [options]="CountiesTypes" id="map-counties-show-hide"
                                [(ngModel)]="SelectedCountiesTypeVariable"
                                (ngModelChange)="onCountiesShowHideChange($event)"></p-selectButton>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab style="color:#495057" header="Online">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                Enabling any of the layers below will download tiles from the Internet. <a
                                    href="javascript:;">Read More.</a>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="baseRow" class="form-group row ifOnline" title="Would you like to use a Tile Basemap?">
                        <div class="col-4">Basemap</div>
                        <div class="col-8">
                            <p-selectButton [options]="BasemapTypes" id="map-basemap-show-hide"
                                [(ngModel)]="SelectedBasemapTypeVariable" (ngModelChange)="onBasemapChange($event)">
                            </p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row ifOnline" title="Would you like to use a Satellite layer?">
                        <div class="col-4">Satellite</div>
                        <div class="col-8">
                            <p-selectButton [options]="SatelliteTypes" id="map-satellite-show-hide"
                                [(ngModel)]="SelectedSatelliteTypeVariable" (ngModelChange)="onSatelliteChange($event)">
                            </p-selectButton>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>

        </tab>
        <tab heading="{{'Nodes' | localize}}" customClass="m-tabs__item">

            <div class="form-group row">
                <div class="col-4">Color</div>
                <div class="col-8"><button class="btn btn-sm btn-light w-100 launch-color-options"
                        (click)="displayColorOptions()">Color Options</button></div>
            </div>
            <div class="form-group row">
                <div class="col-4">Collapsing</div>
                <div class="col-8">
                    <p-selectButton [options]="NodeCollapsingTypes" [(ngModel)]="SelectedNodeCollapsingTypeVariable"
                        (ngModelChange)="onNodeCollapsingChange($event)"></p-selectButton>
                </div>
            </div>
            <div class="form-group row" title="How transparent would you like the nodes to be?">
                <div class="col-4"><label for="map-node-transparency">Transparency</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="map-node-transparency" min="0.00"
                        max="1.00" step="0.01" value="0.00" [(ngModel)]="SelectedNodeTransparencyVariable"
                        (ngModelChange)="onNodeTransparencyChange($event)"></div>
            </div>
            <div class="form-group row" title="How much randomness do you want to add to node locations?">
                <div class="col-4">
                    <label for="map-node-jitter">Jitter</label>
                    <button id="map-node-jitter-reroll" class="btn btn-light btn-sm">Reroll</button>
                </div>
                <div class="col-8"><input type="range" class="custom-range" id="map-node-jitter" min="-2" max="4"
                        step="0.01" value="-2" [(ngModel)]="SelectedNodeJitterVariable"
                        (ngModelChange)="onNodeJitterChange($event)"></div>
            </div>
            <div class="form-group row" title="What node data should be displayed as a tooltip for the node?">
                <div class="col-4"><label for="map-node-tooltip-variable">Tooltip</label></div>
                <div class="col-8">
                    <p-dropdown id="map-node-tooltip-variable" [options]="FieldList" appendTo="body"
                        [(ngModel)]="SelectedNodeTooltipVariable" (ngModelChange)="onNodeToolTipChange($event)">
                    </p-dropdown>
                </div>
            </div>

        </tab>
        <tab heading="{{'Links' | localize}}" customClass="m-tabs__item">

            <div class="form-group row">
                <div class="col-4">Color</div>
                <div class="col-8"><button class="btn btn-sm btn-light w-100 launch-color-options"
                        (click)="displayColorOptions()">Color Options</button></div>
            </div>
            <div class="form-group row" title="How transparent would you like links to be?">
                <div class="col-4"><label for="map-link-transparency">Transparency</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="map-link-transparency" min="0.00"
                        max="1.00" step="0.01" value="0.00" [(ngModel)]="SelectedLinkTransparencyVariable"
                        (ngModelChange)="onLinkTransparencyChange($event)"></div>
            </div>
            <div class="form-group row" title="What link data would you like displayed as a tooltip for the link?">
                <div class="col-4"><label for="map-link-tooltip-variable">Tooltip</label></div>
                <div class="col-8">
                    <p-dropdown id="map-link-tooltip-variable" [options]="FieldList" appendTo="body"
                        [(ngModel)]="SelectedLinkTooltipVariable" (ngModelChange)="onLinkToolTipChange($event)">
                    </p-dropdown>
                </div>
            </div>

        </tab>
    </tabset>
</p-dialog>


<p-dialog id="network-export-modal" [(visible)]="ShowGEOMapExportPane" header="Export Geospatial Data"
    (onHide)="onCloseExport()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style='min-width: 400px; height: 100%;'>
                <div class="form-group row">
                    <div class="col-9">
                        <input type="text" id="network-export-filename" class="form-control form-control-sm"
                            placeholder="Filename" [(ngModel)]="SelectedNetworkExportFilenameVariable">
                    </div>
                    <div class="col-3">
                        <p-dropdown id="network-export-filetype" [options]="NetworkExportFileTypeList" appendTo="body"
                            [(ngModel)]="SelectedNetworkExportFileTypeListVariable"></p-dropdown>
                    </div>
                </div>
                <!-- <div>
                    <p-accordion>
                        <p-accordionTab style="color:#495057" header="Advanced">
                            <div id="network-export-advanced">

                                <div class="form-group row">
                                    <div class="col-3">
                                        <label for="network-export-scale">Scale</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="number" id="network-export-scale"
                                            class="form-control form-control-sm" min="0" step="0.1" value="1"
                                            [(ngModel)]="SelectedNetworkExportScaleVariable"
                                            (ngModelChange)="updateCalculatedResolution($event)">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">Resolution</div>
                                    <div id="network-export-dimensions" class="col-9 text-right">
                                        {{CalculatedResolution}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="network-export-quality">Quality</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="range" class="custom-range" id="network-export-quality" min="0"
                                            max="1.0" value="0.92" step="0.01"
                                            [(ngModel)]="SelectedNetworkExportQualityVariable">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error"
                    (click)="ShowGEOMapExportPane = !ShowGEOMapExportPane">Cancel</button>
                <button type="button" id="network-export" class="btn btn-primary"
                    (click)="exportVisualization($event)">Export</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</p-dialog><!-- /.modal -->

<div id="mapTooltip"></div>